
.owl-carousel .item {
    margin: 15px;
	
}
.owl-carousel2 .item{
    margin: 15px;
	
}
.imgitem{	 
	width: auto;     
	height: 350px;
	width: 200px;
}

.imgitem2{	
	height: 300px;
	width: 200px;
}